###############################################################################
# Editor                                                                      #
###############################################################################
# JetBrains (Webstorm, IntelliJ IDEA, ...)
.idea/
*.iml

# Komodo
*.komodoproject
.komodotools

###############################################################################
# Build                                                                       #
###############################################################################
/target/

###############################################################################
# Temporary files                                                             #
###############################################################################
*.log
*.tmp
tmp/
logs/

###############################################################################
# Other                                                                       #
###############################################################################
# Runtime data
pids
*.pid
*.seed
