###############################################################################
# Editor                                                                      #
###############################################################################
# JetBrains products (Webstorm, IntelliJ IDEA, ...)
.idea/
*.iml

# Komodo
*.komodoproject
.komodotools

###############################################################################
# Build                                                                       #
###############################################################################
/build/

###############################################################################
# Dependencies                                                                #
###############################################################################
# Node dependencies directory
node_modules

# Typings definitions
typings

###############################################################################
# Local configuration                                                         #
###############################################################################
test-config.js

###############################################################################
# Temporary files                                                             #
###############################################################################
*.log
*.tmp
tmp/
logs/

###############################################################################
# Other                                                                       #
###############################################################################
# Runtime data
pids
*.pid
*.seed
